@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("../public/assets/fonts/caveat/Caveat-Regular.ttf");
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    width: -webkit-fill-available;
  }
  body {
    @apply bg-[#fafafb] font-montserrat;
  }

  html {
    scroll-behavior: smooth;
  }

  li {
    @apply px-4 transition ease-in-out delay-200 hover:text-primary duration-300 md:mb-0 mb-5;
  }

  .nonActive {
    @apply text-secondary;
  }

  /* Specific styles for active links */
  .active {
    @apply text-primary;
  }
  .resume__button {
    /* box-shadow: 0px 12px 20px rgba(254, 141, 249, 0.5); */
    cursor: pointer;
    /* box-shadow: inset 0px 12px 20px transparent;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border: 2px solid rgba(254, 141, 249, 0.5); */
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    margin: 0px 3px 6px;
    text-align: center;
    border: 2px solid rgba(254, 141, 249, 0.5);
    text-decoration: none;
    white-space: nowrap;
    z-index: 0;
  }
  /* .resume__button:hover {
    box-shadow: inset 400px 0 0 0 rgb(254, 141, 248);
  } */

  .resume__button::before {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255);
    transition-duration: 0.3s;
    z-index: -1;
    inset: 0px 0px auto auto;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .resume__button:hover::before {
    width: 0px;
    height: 100%;
    opacity: 1;
  }

  .resume__button:hover {
    background: rgba(254, 141, 249, 0.5);
    transition: color 0.3s ease 0s, background 0s ease 0s;
    box-shadow: 0px 12px 20px rgba(254, 141, 249, 0.5);
  }

  .bgstyle {
    background-image: url("/assets/images/headerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  .style__section-one {
    margin-top: -1rem;
  }

  .slider__div {
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  .swiper {
    padding: 2rem !important;
  }

  .footer__bg {
    background-image: url("../public/assets/images/footerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  input[data-autocompleted] {
    background-color: transparent !important;
  }
  /* swiper */
  .mySwiper .swiper-wrapper {
    @apply pb-14 md:py-10;
  }

  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {
    @apply text-primary bg-[#ffff] rounded-full w-8 h-8 lg:top-6 top-[95%];
  }
  .mySwiper .swiper-button-next:after,
  .mySwiper .swiper-button-prev:after {
    @apply text-sm;
  }

  .mySwiper .swiper-button-next {
    @apply lg:left-[90%] left-[50%];
  }
  .mySwiper .swiper-button-prev {
    @apply lg:left-[85%] left-[35%];
  }

  .history__swiper {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    @apply bg-[#fff] h-[300px] w-44 mx-auto;
  }

  .mySwiper2 .swiper-slide.swiper-slide-active .overlay__div {
    @apply opacity-100;
  }

  .mySwiper2 .swiper-slide.swiper-slide-active .overlay {
    @apply w-full h-full rounded-3xl;
  }

  .swiper3-slide {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    @apply rounded-3xl;
    background-image: url("../public/assets/images/bgText.svg");
    background-repeat: no-repeat;
  }

  .swiper-slide {
    height: auto !important;
  }

  .slider__text-style {
    margin-top: -20px;
    opacity: 0;
    transition: ease-in-out;
    transition-delay: 100;
  }
  .slider__div:hover .slider__text-style {
    margin-top: 20px;
    opacity: 100;
    transition: ease-in-out;
    transition-delay: 100;
  }

  .copy__image {
    margin-top: -30px;
    margin-left: 85%;
  }

  /* modal */
  .mySwiperModal .swiper-button-next,
  .mySwiperModal .swiper-button-prev {
    @apply text-primary bg-[#ffff] rounded-full w-8 h-8 text-sm;
  }
  .mySwiperModal .swiper-button-next:after,
  .mySwiperModal .swiper-button-prev:after {
    @apply text-sm;
  }

  .mySwiperModal .swiper-button-next {
    @apply right-[47px];
  }

  .mySwiperModal .swiper-button-prev {
    @apply left-[47px];
  }

  @media (min-width: 768px) {
    .mySwiper .swiper-wrapper {
      height: 360px;
    }

    .media__style {
      @apply left-[12px];
    }
  }

  @media (min-width: 1024px) {
    .mySwiper2 .swiper-slide {
      width: 233px !important;
    }
    .history__swiper {
      width: 13rem !important;
    }
  }

  @media (min-width: 2000px) {
    .media__style {
      @apply left-[80px];
    }
  }

  @media (max-width: 1000px) {
    .media__style {
      @apply left-[0px];
    }
    .history__swiper {
      margin-left: 0;
    }
  }

  .mySwiper3 .swiper-slide:nth-of-type(even) {
    margin-top: 35px;
  }

  /* BTN HOVER */
  button {
    border: none;
  }

  .btn-22 {
    display: block;
    box-sizing: border-box;
    padding: 15px 20px;
    border-radius: 999px;
    position: relative;
    overflow: hidden;
    color: #fe8df9;
    background: none;
    /* text-transform: uppercase; */
    border: 2px solid currentColor;
  }
  .btn-22 span {
    /* font-weight: 900; */
    color: #434343;
    mix-blend-mode: darken;
  }
  .btn-22:before {
    content: "";
    width: 0;
    aspect-ratio: 1;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: -5%;
    background: #fe8df9;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
  }
  .btn-22:hover:before {
    width: 105%;
  }
  /* audio player */

  audio::after {
    height: 2.5em; /* 40 */
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    border: 1px solid #222;
    position: relative;
    z-index: 1;
    background: #333;
  }

  .audioSection .rhap_container {
    box-shadow: none;
    background-color: transparent;
  }

  .audioSection .rhap_repeat-button,
  .audioSection .rhap_volume-controls {
    display: none;
  }
  .audioSection .rhap_stacked .rhap_controls-section {
    @apply mx-auto;
  }

  .audioSection .rhap_button-clear {
    @apply text-primary;
  }

  .audioSection .rhap_progress-indicator,
  .audioSection .rhap_progress-filled {
    @apply bg-purple;
  }

  /* paginate */
  .activeLink {
    @apply bg-primary text-textcolor flex items-center justify-center gap-5;
    box-shadow: 0px 4px 6px rgba(240, 196, 0, 0.2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .mySwiper3 .swiper-pagination-bullet-active {
    @apply bg-primary;
  }

  .mySwiper3 .swiper-wrapper {
    padding: 0 0 35px 0;
  }

  .pagination {
    @apply flex justify-center items-center;
  }

  .pageNum {
    @apply flex items-center justify-center gap-5 hover:text-textcolor;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .tabs {
    @apply flex;
  }
  .tab {
    @apply justify-center items-center bg-[#ffff] py-3 px-5 border-0 rounded-full text-textcolor font-bold;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  }
  .tab:not(:last-child) {
    border-right: 1px solid steelblue;
  }
  .tab.active {
    @apply bg-purple text-[#ffff] rounded-full;
    box-shadow: 0px 2px 40px rgba(135, 106, 216, 0.6);
  }
  .panel {
    display: none;
    padding: 10px;
  }
  .panel.active {
    display: block;
  }

  .mySwiperselect .swiper-button-next,
  .mySwiperselect .swiper-button-prev {
    display: none;
  }

  .portfoliopageStyle {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  }

  .portofoliopagebg {
    background-image: url("/assets/images/headerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  .mySwiperselect .swiper-slide {
    width: 190px !important;
  }
}
